<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfluenceHook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConfluenceHook.Properties.Settings>
            <setting name="AppointmentTemplate" serializeAs="String">
                <value>This is my hello world template.</value>
            </setting>
            <setting name="ApiBase" serializeAs="String">
                <value>https://hearsthealth.atlassian.net/wiki/rest/api/</value>
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>template/{id}</value>
            </setting>
            <setting name="TemplateId" serializeAs="String">
                <value>1151238359</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>YWNvbGx5ZXJAaGVhcnN0LmNvbTprenZ6d1dMeTM2QzVMSUJhdzBSWjVFOTI=</value>
            </setting>
        </ConfluenceHook.Properties.Settings>
    </userSettings>
</configuration>